name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore BillingSystem.sln

      - name: Build solution
        run: dotnet build BillingSystem.sln --configuration Release --no-restore

      - name: Run tests
        run: dotnet test BillingSystem.Test/BillingSystem.Test.csproj --logger trx --results-directory "TestResults"

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: TestResults/**/*.trx

      # Login to GitHub Container Registry
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build Docker image
      - name: Build Docker image
        working-directory: ./BillingSystem.Web
        run: |
          docker build -t ghcr.io/shehanindrajith/billingsystem:latest .

      # Push Docker image
      - name: Push Docker image
        run: docker push ghcr.io/shehanindrajith/billingsystem:latest
